@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DMSans-Regular.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f7f7f9;
    --background-100: #fff;
    --background-200: #f1f2f6;
    --background-300: #f4f4f8;
    --bg-black: #131623;

    --foreground: #2a2a2a;
    --foreground-100: #7d7d80;
    --foreground-variant: #3e3efa;

    --secondary: #3e3efa;
    --secondary-foreground: #fff;

    --variant: #ff7f50;

    --grey: #8f8f8f;
    --grey-100: #deddef;
    --grey-btn: #dcdcdc;

    --border: #d0d0d4;
    --border-variant: #3e3efa;
    --placeholder: #8c9db1;

    --ring: #3e3efa;
    --muted: #323232;
    --muted-foreground: #9f9f9f;

    --radius: 0.5rem;
    --scroll-thumb: #969696;
    --scroll-track: #ccc;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    @apply text-primaryFont font-inter font-bold;
  }
  h2 {
    @apply text-secondaryFont font-bold;
  }
  h3 {
    @apply text-subtitle font-semibold;
  }
  .hero h1 > * {
    @apply font-semibold font-inter;
  }
}

@layer utilities {
  .row-flex {
    @apply flex flex-row flex-nowrap items-center justify-center align-middle;
  }
  .row-flex-start {
    @apply row-flex !justify-start;
  }
  .row-flex-btwn {
    @apply flex flex-row flex-nowrap items-center justify-between align-middle;
  }
  .flex-column {
    @apply flex flex-col items-start;
  }

  /* TOAST STYLES */
  .success {
    @apply bg-green-100 font-semibold text-green-500;
  }
  .error {
    @apply border border-red-500 bg-red-100 font-semibold text-red-500;
  }

  /* GRADIENTS */
  .bg-gradient-hero {
    background: rgb(62, 62, 250);
    background: radial-gradient(circle, rgba(62, 62, 250, 1) 35%, rgba(37, 37, 148, 1) 100%);
  }

  /* CUSTOM SECTION STYLES */
  .main {
    @apply relative bg-background-200;
  }
  .section {
    @apply relative isolate px-4 pt-8 pb-4 sm:px-[4%] sm:pt-[3em];
  }

  /* CUSTOM BUTTON STYLES */
  .btn-outline {
    @apply border border-border-variant bg-transparent text-foreground-variant !important;
  }

  .btn-variant {
    @apply row-flex inline-flex h-10 min-w-[130px] whitespace-nowrap rounded-lg bg-secondary px-10 py-4 font-semibold capitalize tracking-wide text-background subpixel-antialiased shadow-sm filter transition duration-150 active:translate-y-0.5 active:brightness-90 disabled:pointer-events-none disabled:opacity-50 2xl:h-12 2xl:py-3;
  }

  /* UTILITIES STYLES */
  .subtitle {
    @apply text-[1rem] font-medium;
  }
  .grey-text {
    @apply text-xs font-medium leading-snug text-foreground-100;
  }
  .blend-image {
    @apply relative overflow-hidden before:absolute after:absolute after:inset-0 after:rounded-lg after:bg-secondary after:mix-blend-soft-light;
  }
  .badge {
    @apply relative ml-[50px] inline-flex w-max items-center rounded-lg bg-grey-btn px-4 py-1.5 text-sm font-semibold capitalize transition-colors focus:outline-none focus:ring-1 focus:ring-ring focus:ring-offset-1;
  }
  .icon-div {
    @apply grid size-8 cursor-pointer place-items-center rounded-full border border-border bg-background p-1 clip-circle;
  }
  .card {
    @apply row-flex-btwn mt-4 rounded-md border border-border shadow-sm;
  }
  .tag-variant {
    @apply absolute right-[99%] top-[50%] z-0 h-1 w-[50px] translate-y-[-50%] rounded-full bg-grey-btn after:absolute after:-left-[0.6rem] after:-top-[0.6rem] after:aspect-square after:h-6 after:w-6 after:rounded-md after:bg-variant;
  }
  .section-body {
    @apply relative mx-auto mt-8 px-1.5 md:mt-12;
  }

  /* RESETS */
  .i-reset {
    @apply h-11 overflow-hidden text-ellipsis whitespace-nowrap rounded-none border-none bg-transparent outline-none placeholder:text-placeholder focus:outline-none focus:ring-0 focus:ring-offset-0 focus-visible:border-none focus-visible:outline-none focus-visible:ring-transparent focus-visible:ring-offset-0;
  }

  /* =====  SHADCN OVERRIDES */
  .shad-select-trigger {
    @apply h-11 bg-background-100 min-w-[100px] gap-3 border-transparent  focus:ring-0 focus:ring-transparent md:whitespace-nowrap;
  }
  .shad-select-content {
    @apply relative rounded-lg bg-background-100;
  }
  .shad-select-item {
    @apply row-flex-start cursor-pointer py-2 text-sm px-2;
  }
  .shad-select-popover {
    @apply px-3 py-2.5 text-sm h-11 bg-background-100 min-w-[100px] rounded-md border border-border focus:ring-0 focus:ring-transparent md:whitespace-nowrap;
  }
}

@layer components {
  .grid-mobile-features {
    grid-auto-columns: minmax(min-content, 350px);
  }
  .grid-cols-features {
    grid-template-columns: 2fr minmax(300px, 1fr);
  }
  .news-post-sm {
    grid-template-rows: 300px repeat(auto-fill, 200px);
  }
  .news-post-xl {
    grid-template-rows: 320px repeat(auto-fill, 210px);
  }

  .about-main-sm {
    grid-template-columns: 1fr;
    grid-template-rows: max-content 280px max-content 400px max-content 320px;
    grid-template-areas:
      "section1"
      "img1"
      "section2"
      "img2"
      "section3"
      "img3";
  }
  .about-main-md {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(250px, 1fr) 30px minmax(250px, 1fr) 30px minmax(250px, 1fr);
    grid-template-areas:
      "section1 img1"
      ". ."
      "section2 img2"
      ". ."
      "section3 img3";
  }
  .about-main-lg {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(250px, 280px) 50px max-content 50px 1fr;
    grid-template-areas:
      "section1 img1 img2"
      ". img1 img2"
      "section2 section3 img2"
      ". section3 img2"
      "img3 . img2";
  }

  .section1 {
    grid-area: section1;
  }
  .section2 {
    grid-area: section2;
  }
  .section3 {
    grid-area: section3;
  }
  .img1 {
    grid-area: img1;
  }
  .img2 {
    grid-area: img2;
  }
  :is(.img2, .img3) svg rect {
    width: 100% !important;
    height: 100% !important;
  }
  .img3 {
    grid-area: img3;
  }

  /* WEBSITE 2 - FEATURES */

  .features-md {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(150px, auto) minmax(100px, auto) minmax(150px, auto);
    grid-template-areas:
      "featureImage1 featureImage2 text1"
      "featureImage1 featureImage2  text2"
      "featureImage1 featureImage3 text3";
  }

  .features-lg {
    grid-template-columns: 350px 290px 100px auto;
    grid-template-rows: minmax(150px, auto) minmax(100px, auto) minmax(150px, 160px);
    grid-template-areas:
      "featureImage1 featureImage2 text1 text1"
      "featureImage1 featureImage2 . text2"
      "featureImage1 featureImage3 text3 text3";
  }

  .features-xl {
    grid-template-columns: 400px 350px 100px auto;
    grid-template-rows: minmax(150px, auto) minmax(100px, auto) minmax(150px, 160px);
    grid-template-areas:
      "featureImage1 featureImage2 text1 text1"
      "featureImage1 featureImage2 . text2"
      "featureImage1 featureImage3 text3 text3";
  }

  .features-2xl {
    grid-template-columns: 500px 350px 120px auto;
    grid-template-rows: minmax(120px, 180px) minmax(100px, 120px) minmax(150px, 160px);
    grid-template-areas:
      "featureImage1 featureImage2 text1 text1"
      "featureImage1 featureImage2 . text2"
      "featureImage1 featureImage3 text3 text3";
  }

  .featureImage1 {
    grid-area: featureImage1;
  }
  .features-md .featureImage1 {
    height: 100%;
  }
  .features-lg .featureImage1 {
    height: 90%;
    margin-block: auto;
  }
  .featureImage2 {
    grid-area: featureImage2;
  }
  .featureImage3 {
    grid-area: featureImage3;
    width: 90%;
  }
  .text1 {
    grid-area: text1;
  }
  .features-lg .text1 {
    margin-left: 20px;
    max-width: 50ch;
  }
  .text2 {
    grid-area: text2;
  }
  .features-lg .text2 {
    margin-left: -50px;
    max-width: 50ch;
  }
  .text3 {
    grid-area: text3;
  }
  .features-md .text3 {
    max-width: 50ch;
    align-self: center;
  }
  .features-lg .text3 {
    max-width: 50ch;
    align-self: end;
  }
}
